<head>
    <style type="text/css">
html,body{margin:0;padding:0;}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>
<body>
    <div style="width:100%;height:100%;border:#ccc solid 1px;" id="dituContent">

    </div>
    <script type="text/javascript">
//创建和初始化地图函数：
function initMap(){
    createMap();//创建地图
    setMapEvent();//设置地图事件
    addMapControl();//向地图添加控件
}
//创建地图函数：
function createMap(){
    var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
    var names = [{%for section in sections%}"{{section.name}}"{%if not forloop.last%},{%endif%}{%endfor%}];
    var points = [{%for section in sections%}new BMap.Point({{section.loc|truncatewords:"1"}}){%if not forloop.last%},{%endif%}{%endfor%}];{%comment%}如果不加truncatewords, loc后会被插入回车导致报错{%endcomment%}
    var marker = new Array(names.length);
    var label = new Array(names.length);
    var style = { color : "red", fontSize : "12px", height : "20px", lineHeight : "20px", fontFamily:"微软雅黑" };
    for(var i=0;i<names.length;i++){
        marker[i] = new BMap.Marker(points[i]);
        label[i] = new BMap.Label(names[i],{offset:new BMap.Size(-20,-50)});
        label[i].setStyle(style);
        marker[i].setLabel(label[i]);
        map.addOverlay(marker[i]);
    }
    map.centerAndZoom(points[0],10);//设定地图的中心点和坐标并将地图显示在地图容器中
    window.map = map;//将map变量存储在全局
}
//地图事件设置函数：
function setMapEvent(){
    map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
    map.enableScrollWheelZoom();//启用地图滚轮放大缩小
    map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
    map.enableKeyboard();//启用键盘上下左右键移动地图
}
//地图控件添加函数：
function addMapControl(){
    //向地图中添加缩放控件
}
initMap();//创建和初始化地图
    </script>
</body>
